@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.product{
    width: 310px;
    height: 500px;
    border: 1px solid #C69B7B;
    border-radius: 12px;
}

.product img{
    width: 300px;
    height: 320px;
    padding:5px 0 5px 5px;
}

.product p{
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.productName{
    font-size: 24px;
    font-weight: 600;
}