@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');


.logo{
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    font-size: 50px;
    margin: 0 0 15px 0;
    padding:10px 0 10px 0;
    border-bottom: 2px solid #F7CCAC;
    background-color: #3A3845;
    color: #F7CCAC;
}